.phtcBg {
    background-image: url("../images/phtcImg.jpg");
    background-position: center;
    background-repeat: repeat;
}

.secondPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    row-gap: 15px;
}

.textsForSecondPage {
    width: 1000px;
    border-radius: 15px;
    margin-bottom: 15px;
}
